@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --clr-dark-blue-primary: hsl(218, 23%, 21%);
    --clr-light-cyan: hsl(184, 47%, 94%);
    --font-quicksand-primary: 'Quicksand', sans-serif; 
}

body {
    height: 100vh;
    max-width: 100vw;
    font-family: var(--font-quicksand-primary);
    display: flex;
    flex-direction: column;
}

nav {
    height: 8vh;
    display: flex;
    padding: 0 3%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-dark-blue-primary);
    color: var(--clr-light-cyan);
    letter-spacing: .2rem;
    word-spacing: .4rem;
}

#info-icon {
    width: 32px;
    cursor: pointer;
    border-radius: 50%;
    transition: scale 0.2s ease;
}

#info-icon:hover {
    scale: 1.2;
}

kbd {
    border: 1px solid black;
    padding: 4px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.033);
    margin: 0 5px;
}

.hide-display {
    display: none !important;
}

.colors-container {
    flex: 1;
    max-width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 2rem;
    transition: all 0.2s ease;
}

.color {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.color > .color-icon {
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in;
}

.color:hover > .color-icon {
    opacity: 1;
    pointer-events: all;
}

.color-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.color-code {
    font-size: 1.2rem;
    background-color: white;
    letter-spacing: 2px;
    padding: 1rem 1.2rem;
    margin: 1rem 0;
    border: 2px solid white;
    border-radius: 10px;
}

.color-name {
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
}

.color-icon {
    padding: 15px;
    width: 52px;
    border-radius: 50%;
    margin-bottom: 25%;
}

.color-icon:hover {
    background-color: rgba(255, 255, 255, 0.284);
}

.locked {
    opacity: 1 !important;
}

.instructions {
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
}

#hint-text {
    color: var(--clr-dark-blue-primary);
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.backdrop-dull {
    pointer-events: none;
    filter: blur(2px);
}

.info-popup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    padding: 2rem;
    height: 50vh;
    border: 1px solid var(--clr-dark-blue-primary);
}

.close-popup {
    background-color: var(--clr-dark-blue-primary);
    color: white;
    border: 1px solid var(--clr-dark-blue-primary);
    font-size: 1rem;
    text-align: center;
    letter-spacing: 2px;
    padding: 5px 10px;
    margin-top: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.close-popup:hover {
    background-color: white;
    color: var(--clr-dark-blue-primary);
}

.popup-title, .popup-subtitle {
    letter-spacing: 2px;
    color: var(--clr-dark-blue-primary);
}

.popup-title {
    margin-bottom: 1rem;
}

.popup-subtitle {
    margin-top: 1rem;
}
